.img{
    height: 10%;
    width: 60%;
    padding: 15%;
  
  }

  .head{
    font-size: 22px;
    color: #0000A0;
    font-weight: 600;

}

.sub{
    font-size: 12px;

}

.cont{
    text-align: center;

}

.submit{
    
}
.lef{
/* float: left; */
padding-left:80%;
}