/* .list_item {
  width: 10%;
  height: 80px;
    background-color: gray;
    text-align: center;
} */
.pad{
  padding:3%;

}
.heading {
    text-align: center;
    margin-top: 100px;
    background-color: blue;
    margin: 100px 200px;
    color:white;
    padding: 20px;
}